/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap'); */

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    html {
        @apply transition-colors duration-300;
    }
    body{
        @apply bg-backgroundLight-400 dark:bg-backgroundDark-300 dark:text-backgroundLight-400;
    }
}


@theme {
    --color-primary-500: #0D9488;
    --color-primary-400: #14B8A6;
    --color-primary-300: #CCFBF1;
    --color-primary-100: #f2fcfa;
    --color-secondary-600: #000000;
    --color-secondary-500: #141717;
    --color-secondary-400: #1F2937;
    --color-secondary-300: #374151;
    --color-secondary-200: #4B5563;
    --color-secondary-100: #6B7280;
    --color-secondary-50: #C2C6CE;
    --color-backgroundLight-500: #FFFFFF;
    --color-backgroundLight-400: #F6F6F6;
    --color-backgroundLight-300: #F1F1F1;
    --color-backgroundDark-500: #000000;
    --color-backgroundDark-400: #0C0C0C;
    --color-backgroundDark-300: #161616;
    --color-supportBlue-300: #3662e3;
    --color-supportBlue-200: #BFD4F9;
    --color-supportBlue-100: #E2EDFD;
    --color-supportIndigo-300: #883ae0;
    --color-supportIndigo-200: #E6D3FB;
    --color-supportIndigo-100: #F1EAFB;
    --color-supportYellow-300: #cc7d2f;
    --color-supportYellow-200: #FAF2C9;
    --color-supportYellow-100: #fffced;
    --color-supportGreen-200: #e1fae7;
    --color-supportGreen-100: #f2fcf5;
    --color-accent-400: #3B82F6;


}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  /* Chrome/Safari/Opera */
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}


